# Default Configs
PORT=3000
NODE_ENV="development"

# JWT configs
JWT_SECRET="secret"
JWT_EXPIRES_IN="1d"

# Database Configs
TYPEORM_CONNECTION="sqlite"
TYPEORM_DATABASE="src/database/database.sqlite"
TYPEORM_ENTITIES="src/entities/*.ts"
TYPEORM_ENTITIES_DIR="src/entities"
TYPEORM_MIGRATIONS="src/database/migrations/*.ts"
TYPEORM_MIGRATIONS_DIR="src/database/migrations"
